# before installing, you should install ↓
# sudo apt-get install portaudio19-dev
# sudo apt install ffmpeg
# We recommend to use pytorch nightly version

-f https://download.pytorch.org/whl/torch_stable.html
torch==1.9.0+cu111
-f https://download.pytorch.org/whl/torch_stable.html
torchvision==0.10.0+cu111
-f https://download.pytorch.org/whl/torch_stable.html
torchaudio==0.9.0
ttslearn
tensorboard
jupyter
jupyterlab
flake8
autopep8
mypy
tgt
types-PyYAML
pydub
pyaudio
optuna